@import "../../styles/utils.scss";

.Carousel {
  @include loading(120);

  .listBox {
    text-align: center;
    padding: 0 10px 10px 10px;

    .imgBox {
      position: relative;
      width: 100%;
      height: 280px;
      // overflow: hidden;
      // padding-top: 100%;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 5px 5px 0 0;
      }
    }

    .contentBox {
      display: flex;
      // width: 100%;
      // padding-top: 100px;
      // flex-direction: column;
      // justify-content: center;
      align-items: center;
      padding: 10px;
      border: 2px solid $gray;
      border-top: none;
      border-radius: 0 0 5px 5px;

      .profileImg {
        position: relative;
        width: 75px;
        height: 75px;
        // overflow: hidden;
        // padding-top: 100%;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: 60px;
        }
      }

      .content {
        display: flex;
        width: 83%;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;

        .left {
          width: 70%;
          text-align: left;

          .subject {
            font-family: $main_font;
            font-size: 1.2rem;
            margin-bottom: 5px;

            @include overflow_hidden;
            // 길어지면 ...으로 생략하기
            // overflow: hidden;
            // text-overflow: ellipsis;
            // white-space: nowrap;
          }

          .detail {
            margin-left: 7px;
            display: flex;
            // justify-content: center;
            align-items: center;

            .name {
              margin-bottom: 4px;
            }
          }

          .cnt {
            display: flex;
            align-items: center;
            // height: 200px;
            font-family: $main_font;
            margin-left: 7px;

            img {
              width: 23px;
              margin-right: 3px;
            }

            span {
              color: $darkgray;
              font-family: $sub_font;
            }

            .consultCnt {
              margin-left: 20px;
              display: flex;
              align-items: center;
              font-family: $sub_font;

              span {
                font-family: $main_font;
                font-size: 16px;
                color: rgba(0, 0, 0, 0.65);
              }
            }
          }
        }

        .right {
          // width: 27%;
          width: 30%;
          text-align: right;
          display: flex;
          justify-content: flex-end;

          .moreBtn {
            @include whiteButton(75, 15);
          }

          @include a;
        }
      }
    }
  }

  /* Arrows */
  .slick-prev,
  .slick-next {
    font-size: 0;
    line-height: 0;
    z-index: 1;
    position: absolute;
    top: 50%;
    margin-left: 40px;
    margin-right: 40px;
    // right: 0;

    display: block;
    width: 35px;
    height: 35px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
  }

  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 35px;
    line-height: 1;

    opacity: 0.75;
    color: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
