@import "../../styles/utils.scss";

.Main {

    height: 120vh;
    .Main_ {
        width: 100%;
        background: $gray;
        height: 300px;
        .stylelist_btn {
            position: absolute;
            top: 150px;
            left: 100px;
            @include button(300, 18);
        }
    }
}
