@font-face {
  font-family: "S-CoreDream-5Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream-4Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

$red: #d14d56;
$red_hover: rgb(170, 49, 57);
$light_red: #d14d5617;
$darkgray: #8c8c8c;
$gray: #eaeaea;
$main_font: "S-CoreDream-5Medium";
$sub_font: "S-CoreDream-4Regular";
$logo_font: "Racing Sans One", cursive;
$eng_font: "Open Sans", sans-serif;

// 재사용되는 스타일 블록을 함수처럼 사용할 수 있음
@mixin button($width, $size) {
  width: $width * 1px;
  padding: 10px;
  text-align: center;
  font-family: $sub-font;
  font-size: $size * 1px;
  background-color: $red;
  color: white;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  border-radius: 3px;
  text-decoration: none;

  a {
    color: white;
  }

  &:hover {
    background: $red_hover;
    text-decoration: none;
  }

  &:focus {
    box-shadow: none;
  }
}

@mixin whiteButton($width, $size) {
  width: $width * 1px;
  padding: 8px;
  text-align: center;
  font-family: $main_font;
  font-size: $size * 1px;
  background-color: white;
  color: $red;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  border-radius: 3px;
  text-decoration: none;
  border: 1.5px solid $red;

  a {
    color: $red;
  }

  &:hover {
    color: $red_hover;
    text-decoration: none;
    border: 1.5px solid $red_hover;
    background-color: $light_red;
  }

  &:focus {
    box-shadow: none;
  }
}

@mixin a {
  // 링크 사용시 자동 css 제거
  a {
    text-decoration: none;
    color: black;
    cursor: pointer;

    &:hover {
      color: $red;
    }
  }
}

@mixin input_default {
  // 인풋 기본 스타일 초기화
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@mixin input($width) {
  @include input_default;

  width: 1px * $width;
  padding: 7px;
  background: white;
  border: 1px solid rgb(126, 126, 126);
  // font-size: $size * 1px;
}

@mixin input_button($width) {
  @include input_default;

  width: 1px * $width;
  padding: 7px;
  background-color: $red;
  color: white;
  border: 1px solid $red;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 3px;

  &:hover {
    background: $red_hover;
  }
}

// 가로 세로 중앙 정렬
// https://m.blog.naver.com/PostView.nhn?blogId=kira4195&logNo=221161971714&proxyReferer=https:%2F%2Fwww.google.com%2F
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin maxcenter {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

@mixin midcenter {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

// 센터로 만들기
// 위 아래
@mixin itemcenter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

// 드래그 안되게
@mixin drag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@mixin tab {
  text-align: center;

  border-bottom: 1px solid $gray;
  font-family: $main-font;
  cursor: pointer;

  .row {
    @include maxcenter;

    .col-4 {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

@mixin circle($size) {
  width: $size * 1px;
  height: $size * 1px;
  border-radius: $size * 0.5px;
}
