@import "../../styles/utils.scss";

.MatchingList {
  @include drag;
  @include a;

  // 세로 가운데 정렬
  display: flex;
  align-items: center;

  width: 100%;
  height: 100px;
  padding: 10px;

  .style_conditions {
    // 차지할 수 있는 모든 영역 차지
    // flex: 1;
    width: calc(100% - 200px);
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;

    .items {
      @include itemcenter;
      height: 80px;
      border: 1.3px solid $gray;
      border-radius: 5px;
      margin-right: 10px;

      div {
        width: 80px;
        padding: 10px;
      }

      .content {
        // height: 60px;
        padding: 0px;
        width: 160px;
        font-size: 14px;

        @include overflow_hidden;
        //글자 잘린 부분 ...으로 표시
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis; /* 여러 줄 자르기 추가 스타일 */
        white-space: normal;
        line-height: 1.3;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }

    .profile_items {
      border-radius: 40px;

      .profile {
        @include circle(80);
        object-fit: cover;
      }
    }

    .name {
      font-size: 13px;
    }

    .male {
      background-color: $gray;
    }

    .styleimg {
      width: 80px;
      height: 80px;
      border-radius: 5px;
      object-fit: cover;
    }
  }

  .plus,
  .apply {
    @include itemcenter;
    @include circle(80);
    cursor: pointer;
    font-family: $main-font;
    margin-left: 10px;
  }

  .plus {
    background: $gray;
  }

  .apply {
    background: $red;
  }

  .remove {
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-left: 5px;
    cursor: pointer;

    &:hover {
      color: $red;
    }
  }

  // 엘리먼트 사이사이에 테두리를 넣어 줌
  & + & {
    border-top: 1px solid #dee2e6;
  }
}
