@import "../../styles/utils.scss";

.Matching {
    font-family: $sub-font;
    @include loading(120);

    .tab {
        @include tab;

        .focus {
            position: absolute;
            top: 43px;
            left: calc(50% - 50px);
            width: 100px;
            height: 2px;
            background: $red;
            margin: 0 auto;
        }
    }

    .condition {
        display: flex;
        @include maxcenter;
        @include drag;
        div {
            cursor: pointer;
            display: inline-block;
            margin-right: 10px;
            padding: 8px;
            box-shadow: 0 0 0 1px rgb(223, 223, 223) inset;

            span{
                color: $red;
            }

            &:hover{
                box-shadow: 0 0 0 2px $red inset;
            }
        }

        .fill{
            display: flex;
            visibility: hidden;
            flex:1;
        }
        .apply_filter{
            margin-right: 0;
        }
        font-family: $main-font;
        padding: 10px;
        padding-bottom: 0px;
    }

    .list {
        @include maxcenter;
        // padding: 10px;
        padding-top: 0px;
        
        .no_consult{
            @include center;
            font-size: 16px;
        }
    }
}
