@import "../../styles/utils.scss";

body {
  background: $gray;

  .MyPageMain {
    margin-bottom: 100px;
    // background: $gray;
    @include maxcenter;

    .contentBox {
      // border: orange solid 1px;
      // border: 1px solid black;
      display: flex;
      width: 100%;
      min-height: 70vh;

      .left_tab {
        width: 24%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 7px;
      }

      .right_tab {
        padding-top: 30px;
        width: 24%;
        background-color: white;
        display: flex;
        flex-direction: column;
        margin: 0 7px;
      }

      .middle_tab {
        padding-top: 30px;
        width: 52%;
        margin: 0 7px;
        background-color: white;
        display: flex;
        flex-direction: column;
      }
    }
    .inner_tab {
      //border: grey solid 1px;
      // height: 510px;
      //margin: 10px;
    }

    .center {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .selectBtn {
      font-family: $main_font;
      margin: 10px;
      width: 130px;
      padding: 10px;
      text-align: center;
      font-size: 14px;
      background-color: white;
      color: $darkgray;
      cursor: pointer;
      // border: none;
      transition: 0.3s;
      border-radius: 3px;
      text-decoration: none;
      border: 2px solid $gray;

      &:hover {
        color: $red;
        text-decoration: none;
        border: 2px solid $red;
      }
    }

    .selectedBtn {
      border: 2px solid $gray;
      margin: 10px;
      width: 130px;
      padding: 10px;
      text-align: center;
      font-family: $sub-font;
      font-size: 14px;
      color: $red;
      cursor: pointer;
      // border: none;
      transition: 0.3s;
      border-radius: 3px;
      text-decoration: none;
      font-family: $main_font;
    }

    .smallSelectBtn {
      @include whiteButton(120, 12);
      margin: 10px;
    }

    .messageBtn {
      @include whiteButton(120, 12);
      margin: 0 10px 10px 10px;
    }

    .container {
      display: flex;
      justify-content: center;
    }
    .profile {
      @include circle(100);
      object-fit: cover;
    }
    .smallProfile {
      @include circle(50);
      object-fit: cover;
    }
    .topMargin {
      margin-top: 20px;
    }
    .middleTopMargin {
      margin-top: 40px;
    }
    .bigTopMargin {
      margin-top: 100px;
    }
    .tdl {
      width: 200px;
    }
    .tdr {
      width: 150px;
      font-weight: bold;
      font-size: 1.1em;
    }
    .messageBox {
      height: 90%;
    }
    .unread_message {
      background: $red;
      height: 100%;
      color: $red;
    }
    .message {
      margin-top: 10px;
      background: whitesmoke;
      width: 90%;
      height: 75px;
      margin-left: 10px;
      margin-right: 10px;
      padding: 5px;
      //border: $red solid 1px;
      border-radius: 5px;
    }
    .message:hover {
      background: white;
    }
    .leftMargin {
      margin-left: 30px;
    }
    .smallLeftMargin {
      margin-left: 15px;
    }
    .info {
      margin-top: 30px;
    }
    .title {
      font-weight: bold;
      font-size: 1.2em;
      text-align: right;
    }
    .content {
      text-align: left;
    }
    .contentFill {
      text-align: left;
      padding-left: 50px;
    }
    .input {
      background: white;
      border: 1px solid rgb(126, 126, 126);
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 70%;
    }

    .stylist {
      margin-top: 10px;
      background: whitesmoke;
      width: 90%;
      margin-left: 10px;
      margin-right: 10px;
      padding: 5px;
      height: 120px;
      border: $red solid 1px;
      border-radius: 5px;
    }
    .stylist:hover {
      background: white;
    }
    .stylistProfile {
      @include circle(40);
      object-fit: cover;
    }
    .textBlack {
      color: black;
    }
    .leftAlign {
      display: flex;
      justify-content: flex-start;
    }
    .rightAlign {
      display: flex;
      justify-content: flex-end;
    }
    .smallText {
      font-size: 0.8em;
    }

    .backButton {
      width: 25px;
      height: 25px;
      margin-top: 20px;
      margin-left: 5px;
    }
    .message_detail {
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 30px;
      height: 260px;
    }
    .sendBtn {
      height: 50px;
      width: 50px;
    }
    .line {
      border: solid 1px black;
      height: 100%;
    }
    .half {
      height: 50%;
    }
    .creditHistoryList {
      width: 90%;
      height: 80%;
      //border: solid black 1px;
      .creditHistoryBox {
        //border: solid black 1px;
        height: 18.5%;
        margin: 5px;
        display: flex;
        background: white;
        .type {
          width: 10%;
        }
        .red {
          color: $red;
        }
        .blue {
          color: #5643fa;
        }
        .contents {
          width: 50%;
        }
        .amount {
          width: 20%;
        }
        .date {
          width: 30%;
        }
      }
      :hover {
        background: whitesmoke;
      }
    }


    .filebox {
      text-align: left;
    }
    .filebox label {
      display: inline-block;
      padding: 0.5em 0.5em;
      font-size: 15px;
      line-height: normal;
      vertical-align: middle;
      border: none;
      color: black;
      border-radius: 0.25em;
      cursor: pointer;
      margin-top: 10px;
    }

    .filebox label:hover {
      color: $red;
    }

    .filebox input[type="file"] {
      /* 파일 필드 숨기기 */
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
  }
}
