@import "../../styles/utils.scss";

.User {
    font-family: $sub_font;
    @include center;
    @include a;

    .title {
        font-family: $main_font;
        font-size: 30px;
        font-weight: bolder;
        margin-bottom: 30px;
    }

    .user_type {
        margin-bottom: 30px;
    }

    input[type="radio"] {
        background-color: #ffff;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 1px solid rgb(216, 216, 216);
        width: 14px;
        height: 14px;
        margin-left: 0;
        margin-right: 8px;
        border-radius: 100%;
        cursor: pointer;
    }

    input[type="radio"]:checked {
        background-color: $red;
        border: none;
    }

    label {
        cursor: pointer;
        font-size: 16px;
        margin-right: 30px;
    }

    // 간편 로그인 버튼
    .easy_login {
        font-family: $eng_font;
        outline: none;
        border: 1px solid transparent;
        text-align: center;
        width: 250px;
        height: 40px;
        background: $red;
        cursor: pointer;
        font-size: 20px;
        margin-bottom: 3vh;
        color: white;

        span {
            font-family: $eng_font;
            font-size: 20px;
            color: white;
            background: $red;
            width: 100%;
            height: 40px;

            /* flex로 내부 내용 중앙 정렬*/
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:hover {
            background: $red_hover;

            span {
                background: $red_hover;
            }
        }
    }

    .changeForm {
        font-size: 14px;
        text-align: center;
        margin-top: 10px;
        a {
            color: $red;
            margin-left: 5px;
            font-weight: bolder;

            &:hover {
                color: $red_hover;
            }
        }
    }

    .complete_btn{
        margin-top: 30px;
        @include button(250,10);
    }
}
