@import "../../../styles/variable";

.room-paper {
  border-top: 1.4px solid $color-grey-light-2;
  border-right: .4px solid $color-grey-light-2;
  border-bottom: 1.4px solid $color-grey-light-2;
  width: 100%;
}
