@import "../../../styles/variable";
@import "../../../styles/utils";

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
  background-color: rgba($color-red-light, 0.1);

  .welcome-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;

    .text {
      display: flex;
      color: $red;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 0;
      cursor: default;
    }
  }

  .room-name {
    display: inline-block;
    color: $red;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 2rem;

    &.cursor-default{
      cursor:default;
    }
  }

  .room-info {

    .name-btn{
      &:hover{
        opacity: .7;
      }
    }
    .icon{
      display: inline-block;
      color:#ccc;
      margin-left: .5rem;;
      margin-bottom: .3rem;
    }
  }

  .link-to-consult {
    margin-left: auto;
    margin-right: 2rem;

    .text {
      color: $red;
      font-weight: 600;

      &:hover{
        color: $red-hover;
      }
    }
  }

  .complete-btn-wrapper {
    margin-right: 10px;
    margin-top: 7px;
    margin-bottom: 7px;

    .complete-btn {
      background-color: $red;
      padding: 0.6rem 2rem 0.6rem 2rem;
      border-radius: 5px;

      &:hover {
        background: $red-hover;
      }
    }

    .text {
      color: $color-white;
    }
  }

  button {
    border: none;
    background: none;
  }
}

.modal-content{
  border: none;

  .modal-text{
    font-size: 20px;
    color:$red;
  }

  .btn-wrapper{
    display: flex;
    width:100%;
    justify-content: flex-end;
    margin-top: 1rem;
  }

  .confirm{
    background-color: $red;
    border-radius: 5px;
    padding: .5rem 1rem .5rem 1rem;
    font-size: 16px;
    margin-right:.5rem;
    color:$color-white;
    &:hover{
      opacity: .7;
    }
  }

  .cancel{
    background-color: $color-grey-dark;
    border-radius: 5px;
    padding: .5rem 1rem .5rem 1rem;
    font-size: 16px;
    color:$color-white;
    &:hover{
      opacity: .7;
    }
  }
}