.time {
  width: 100%;
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  align-items: center;

  .MuiSlider-root {
    margin-bottom: 30px;
    margin-top: 20px;
    color: #d14d56;
    width: 90%;
    height: 8;
    cursor: pointer;
    height: 2px;
    display: inline-block;
    padding: 13px 0;
    position: relative;
    box-sizing: content-box;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
  }

  .MuiSlider-rail {
    width: 100%;
    height: 5px;
    display: block;
    opacity: 0.38;
    position: absolute;
    border-radius: 1px;
    background-color: #a6a6a6;
  }

  .MuiSlider-track {
    height: 5px;
    display: block;
    position: absolute;
    border-radius: 1px;
    background-color: currentColor;
  }

  .MuiSlider-thumb {
    width: 14px;
    height: 14px;
  }
}
