@import "../../styles/utils.scss";

.ConsultDetail {
    font-family: $sub-font;
    overflow-x: hidden;
    .processing::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../../img/detail-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        z-index: -1;
      }
    .processing {
        font-family: $main-font;
        width: 100%;
        height: 400px;
        

        .position {
            @include maxcenter;
            width: 100%;
            height: 300px;
        }

        .type {
            // position: absolute;
            margin-top: 15px;
            left: 10%;
            font-size: 30px;
            font-weight: bolder;
            padding: 10px;
        }

        .user {
            // position: absolute;
            padding: 10px;
            margin-top: 80px;
            // left: 10%;
            .profile {
                @include circle(60);
                object-fit: cover;
            }
            .nickname {
                margin-left: 20px;
                // cursor: pointer;
            }
        }

        .apply {
            position: absolute;
            right: 20px;
            top: 250px;
            @include button(250, 18);

            @media screen and (min-width: 1500px) {
                right: calc(50% - 400px);
            }
        }
    }

    .total_consult {
        @include maxcenter;
        padding: 10px;
        .title {
            font-family: $main-font;
            font-weight: bolder;
            margin-top: 40px;
            margin-bottom: 40px;
            font-size: 24px;
        }

        .text_info{
            font-size: 18px;
            .col-1{
                margin-bottom: 10px;
            }
        }
    }

    .img_info{
        .sub_title{
            margin-top: 50px;
            margin-bottom: 20px;
            font-weight: bolder;
            font-size: 18px;
        }

        .styleimg{
            width: 200px;
            height: 300px;
            margin-right: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            object-fit: cover;
            cursor: pointer;
        }
    }
}
