@import "../../styles/utils.scss";

.Header {
  @include a;

  z-index: 1000;

  font-family: $main_font;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0px;
  left: 0px;
  font-size: 14px;
  padding: 20px;
  background: #fff;

  .row {
    @include maxcenter;
  }
  .logo {
    font-size: 30px;
    font-family: $logo-font;
    margin-top: -15px;
  }

  .header_menu {
    margin-right: 80px;
  }

  .activeMenu {
    color: $red;
  }

  .header_user {
    text-align: right;
    a, span {
      margin-left: 30px;
      cursor: pointer;
    }

    span{
      &:hover{
        color: $red;
      }
    }
  }
}

.header_margin {
  margin-bottom: 60px;
}
