@import '../../../styles/variable';
@import '../../../styles/utils.scss';

.createroom-button-wrapper {
  display: flex;
  justify-content: center;
}

.createroom-title {
  font-family: $main_font;
  font-size: 1.5rem;
  margin-left: 1rem;
  background-image: linear-gradient(to right, $color-grey-dark-3, $color-black);
  -webkit-background-clip: text;
  color: transparent;
}
