@import "./styles/utils.scss";

.App {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // DB에서 값 받아왔을 때 enter 적용 되게
  // 박스 밖으로 넘어가면 자동 줄 바꿈
  word-wrap: break-word;
  white-space: pre-line;

  font-family: $sub-font;
  color: black;
}

*:focus {
  outline: none !important;
  box-shadow: none;

  // input 클릭시 생기는 파란 줄 없애기
  input:focus {
    outline: none;
  }
  select:focus {
    outline: none;
  }
}

body {
  margin: 0;
  padding: 0;

  ::-webkit-scrollbar {
    height: 5px;
  } /* 스크롤 바 */
  ::-webkit-scrollbar-track {
    background-color: #fff;
  } /* 스크롤 바 밑의 배경 */
  ::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 2.5px;
  } /* 실질적 스크롤 바 */
  ::-webkit-scrollbar-thumb:hover {
    background: #404040;
  } /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */
  ::-webkit-scrollbar-thumb:active {
    background: #808080;
  } /* 실질적 스크롤 바를 클릭할 때 */
  ::-webkit-scrollbar-button {
    display: none;
  } /* 스크롤 바 상 하단 버튼 */
}
