@import "../../styles/utils.scss";
@import "../../styles/variable.scss";

.chatting {
  @include maxcenter;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: calc(100vh - 60px);
}

button {
  border: none;
  background: none;
}

.empty-box {
  display: flex;
  height: 100%;
  width: 60vw;
  border: 2px solid $color-grey-light-2;
  align-items: center;
  justify-content: center;

  .text-box{
    text-align: center;
  }

  .logo {
    font-size: 50px;
    font-family: $logo-font;
  }
  .empty-text {
    font-size: 20px;
  }
}
