@import '../../styles/variable';
@import '../../styles/utils';

.message-form {
  height: 50px;
  display: flex;
  flex-direction: column;

  .message-form-content {
    display: flex;
  }

  .upload-button {
    background-color: $color-white;
    padding: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 1.4px solid $color-grey-light-2;
    height: 100%;
  }

  .upload-icon {
    color: $color-grey-dark;
    font-size: 30px !important;
    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  .message-input {
    width: 100%;
    font-size: 16px;
    padding: 0 120px 0 10px;
    height: 3.5rem;
    border: 1.4px solid $color-grey-light-2;
    border-left: none;
    color: $color-grey-dark;
  }

  .send-btn{
    position: absolute;
    background-color: $red;
    bottom:6px;
    right:10px;
    border:none;
    padding: 1rem;
    border-radius: 5px;
    width: 100px;

    .send-btn-text{
      color:$color-white;
    }

    &:hover{
      background-color: $red-hover;
      opacity: 1;
    }
  }
}
