@import '../../styles/variable';
@import '../../styles/utils';

.message-form {
  height: 60px;
  display: flex;
  flex-direction: column;

  .message-form-content {
    display: flex;
  }

  .upload-button {
    background-color: $color-white;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1.4px solid $color-grey-light-2;
    height: 100%;
  }

  .upload-icon {
    color: $color-grey-dark;
    font-size: 30px !important;
    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  .message-input {
    width: 100%;
    font-size: 16px;
    padding: 2.1rem 1.5rem;
    height: 4rem;
    border: 1.4px solid $color-grey-light-2;
    border-left: none;
    color: $color-grey-dark;
  }

  .send-btn{
    position: absolute;
    background-color: $red;
    bottom:10px;
    right:20px;
    border:none;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;

    .send-btn-text{
      color:$color-white;
    }
  }
}
