@import "../../styles/variable";

.room-list {
  width: 25vw;
  max-width: 310px;
  height: 100%;
  // background-color: rgba($color-red-light, 0.9);
  border-top: 1.4px solid $color-grey-light-2;
  border-bottom: 1.4px solid $color-grey-light-2;
  border-right: 1.4px solid $color-grey-light-2;

  .list-wrapper {
    flex: 1;
    height: calc(100% - 60px);
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .list-wrapper::-webkit-scrollbar {
    display: none;
  }

  .room-name {
    display: flex;
    font-size: 16px;
    width: 100%;
    text-align: left;
    border-bottom: 1.4px solid $color-grey-light-2;
    justify-content: center;

    .stylist-wrapper {
      display: flex;
      width: 100%;
      height: 100px;
      padding: 1rem 1rem 1rem 2rem;
      margin: 0.5rem 0rem 0.5rem 0rem;
      align-items: center;
      &:hover {
        color: $color-grey-light-2;
        cursor: pointer;
        background: linear-gradient(
          to bottom,
          rgba($color-secondary-dark, 0.9),
          rgba($color-secondary-dark, 0.9) 10%,
          rgba($color-secondary-dark, 0.7) 80%,
          rgba($color-secondary-dark, 0.6)
        );
        border-radius: 10px;
      }

      &.active {
        background: linear-gradient(
          to bottom,
          rgba($color-secondary-dark, 0.9),
          rgba($color-secondary-dark, 0.9) 10%,
          rgba($color-secondary-dark, 0.7) 80%,
          rgba($color-secondary-dark, 0.6)
        );
        color: $color-white;
        border-radius: 10px;
      }
    }

    .avatar {
      width: 38px;
      height: 38px;
      margin-right: 0.5rem;
      margin-top: 2px;
    }

    .display-name {
      font-size: 14px;
      font-weight: bold;
    }

    .type {
      font-size: 14px;
    }

    .user-info-content {
      height: 38px;
      display: flex;
      flex-direction: column;
      padding-left: 0.5rem;
    }
  }

  .title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 2rem;
  }

  .spinner-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10rem;

    .text {
      color: $color-white;
      font-size: 20px;
    }
  }

  button {
    background: none;
    border: none;
  }
}

.search-box {
  flex: 1;
  height: 70px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-bottom: 1.4px solid $color-grey-light-2;
  display: flex;
  align-items: center;
}
