@import "../../styles/variable";

.room-messages {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  padding: 20px;
  background-color: '#fff';
  .custom-paper {
    width: calc(100% - 40px);
    position: absolute;
    top: 120px;
    bottom: 120px;
  }
  .message-content {
    width: calc(100% - 40px);
    position: absolute;
    overflow: scroll;
    top: 20px;
    bottom: 20px;
  }
}

