@import "../../styles/variable";

.room-messages {
  position: relative;
  width: 100%;
  padding: 20px;
  background-color: '#fff';
  .custom-paper {
    width: calc(100% - 40px);
    position: absolute;
    top: 120px;
    bottom: 120px;
    padding: 2rem;
    padding-right: 0rem;
  }
  .message-content {
    width: calc(100% - 35px);
    position: absolute;
    overflow: scroll;
    top: 20px;
    bottom: 20px;
  }
}

