@import '../../styles/variable';

.room-list {
  width: 20vw;
  max-width: 310px;
  height: 100%;
  padding: 2rem 0 2rem 0;
  // background-color: rgba($color-red-light, 0.9);
  border-top: 1.4x solid $color-grey-light-2;
  border-bottom: 1.4px solid $color-grey-light-2;
  border-right: 1.4px solid $color-grey-light-2;
  .room-name {
    font-size: 16px;
    width: 100%;
    padding: 1rem 1rem 1rem 2rem;
    text-align: left;
    border-bottom: 1.4px solid $color-grey-light-2;
    &:hover {
      color: $color-grey-light-2;
      cursor: pointer;
      background-color: rgba($color-secondary-dark, 0.6);
    }
  }

  .title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 2rem;
  }

  .active {
    background-color: rgba($color-secondary-dark, 0.8);
    color: $color-white;
  }

  .spinner-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10rem;

    .text {
      color: $color-white;
      font-size: 20px;
    }
  }

  button {
    background: none;
    border: none;
  }
}
