@import "../../styles/utils.scss";

.PortfolioDetail {
    @include maxcenter;
    padding-top: 10px;
    padding-bottom: 20px;

    .profile{
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 20px;
        margin-top: -5px;
        margin-right: 10px;
    }

    .col-4 {
        padding-left: 0px;
        position: fixed;
        top: 70px;
        right: 0;

        @media screen and (min-width: 1500px) {
            left: calc(50% + 245px);
            width: 550px; //? 왜 이러지
        }
    }

    .message{
        position: absolute;
        top:15px;
        right: 30px;
        cursor: pointer;
        width: 40px;
        height: 40px;
        // background-color: $red;
        border-radius: 20px;
    }

    .send{
        width: 35px;
        margin-top: 3px;
        margin-right: 3px;

        &:hover{
            filter: invert(70%);
        }
    }

    .noReview{
        margin-top: 20px;
        font-size: 16px;
        color: $darkgray;
        width: calc(66.666666666666% - 10px);
        border: 1px solid $gray;
        padding-top: 40px;
        padding-bottom: 40px;
        border-radius: 3px;
        text-align: center;
    }

    .plus_btn{
        width: calc(66.666666666666% - 10px);
        padding: 10px;
        text-align: center;
        font-size: 17px;
        background: white;
        border-radius: 3px;
        margin-top: 10px;
        color: $red;
        font-weight: bolder;
        span{cursor: pointer;
            &:hover{
                color: $red-hover;
            }
        }
    }

    .star{
        width: 20px;
        margin-top: -6px;
        margin-right: 10px;
    }

    .box {
        width: 100%;
        border: 1px solid rgb(167, 167, 167);
        padding: 20px;
        text-align: center;

        .avg_title {
            font-family: $main-font;
            font-size: 20px;
        }

        .budget:nth-child(odd) {
            margin-bottom: 20px;
        }

        .score {
            display: inline-block;
            width: 50%;
        }

        &:nth-child(even) {
            border-top: none;
            text-align: left;
        }
    }

    .apply {
        @include button(200, 18);
        width: 100%;
        margin-top: 10px;
    }

    .title {
        margin-top: 30px;
        font-family: $main-font;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .tags {
        .tag {
            display: inline-block;
            margin-right: 10px;
            background: $gray;
            padding-left: 3px;
            padding-right: 3px;
            cursor: default;
            margin-bottom: 10px;
        }
    }

    .content {
        margin-top: 30px;
        margin-bottom: 40px;
        font-size: 15px;
        color: rgb(82, 82, 82);
        // text-align: center;
    }

    .img_list {
        // width: 80%;
        // text-align: center;

        img {
            width: calc(50% - 15px);
            margin-bottom: 30px;
            cursor: pointer;

            &:nth-child(odd) {
                margin-right: 30px;
            }
        }
    }
}
